@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
h1, h2{
    font-family: "Delius Swash Caps", Arial, Helvetica, sans-serif;
}
:root {
    --primary-color: #1B98E0;
    --secondary-color: #59c3c3;
    --text-dark: #333;
    --text-light: #ebebeb;
    --primary-font: Arial, Helvetica,sans-serif;
    --secondary-font: "Delius Swash Caps";
}

img{
    max-width: 100%;
}
label{
    display: hidden;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100px;
    padding-bottom: 20px;
    
}

.search{
    display: flex;
    padding-bottom: 20px;
    justify-content: center;
    border-bottom: 1px solid black;

}

.search img{
    height: 30px;
    padding: 5px;
    border: 2px solid black;
    border-radius:  0 5px 5px 0;
}
#search_bar{
    border: 2px solid black;
    margin: 0;
    width: 80%;
    padding: 10px;
    border-radius: 5px 0 0 5px;
}

.recipe{
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 25px;
    padding-bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recipe_img{
    padding-top: 25px;
    width: 60%;
}

.recipe_name{
    color: #1B98E0;
}

.description{
    display: none;
}

footer{
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: end;
    height: 175px;
    padding-bottom: 10px;
}

.social img{
    height: 65px;
}

.attribution{
    size: .6em;
    color: #333;
    text-decoration: none;
}

@media screen and (min-width:600px) {
    .recipe{
        flex-direction: row;
    }

    .recipe_img{
        padding: 30px;
    }
    .description{
        display:block;
}
}

@media screen and (min-width:960px) {
    body{
        max-width: 960px;
        margin: 0 auto;
    }

    footer{
        flex-direction: row;
        justify-content: space-between;
    }

}